<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tip calculator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="header">
    <nav>
        <ul class="logo">
            <li><a href="">home</a></li>
            <li><a href="">home</a></li>
            <li><a href="">home</a></li>
            <li><a href="">home</a></li>
        </ul>
    </nav>


</div>

<div class="don" ><h1>Tip calculator</h1></div><br>
   <div class="donnn"> <p>are you facing problem calculating tip while going out whit friends</p><br></div>
    <h2 class="donn">NO NEED TO WORRY NOW</h2><br>
    <p class="yash">we are here to help you with 2 easy steps</p><br>
    <button type="button" >Click Me!</button>

</body>
</html>